@import "tailwindcss";
@import "tw-animate-css";


@theme{

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520px;

  /* color */
  --color-primary: #0d091a;
  --color-secondary: #140e25;
  --color-accent: #5810ff;
  --color-accent-hover: #4a0bde;
  --color-tertiary: #201837;
  --color-tertiary-hover: #271f40;

  /* fonts */
  --font-primary: "JetBrains Mono";
}

body{
    @apply font-primary bg-primary text-white leading-loose;
  }

h1{
  @apply text-[48px] md:text-[52px] xl:text-[80px] leading-[1] font-bold;
}

h2{
  @apply text-[36px] md:text-[36px] xl:text-[48px] leading-[1.15]
  tracking-tight font-semibold;
}

h3{
  @apply text-[20px] md:text-[30px] xl:text-[24px] leading-[1.2]
  font-semibold;
}

h4{
  @apply text-[22px] md:text-[26px] font-medium leading-snug;
}

.container{
  @apply px-[15px];
}

.btn{
  @apply flex items-center justify-center rounded-full
  cursor-pointer transition-all font-medium h-[56px];
}

.btn-sm{
  @apply min-w-[168px] px-5 text-[15px] font-semibold;
}

.btn-lg{
  @apply min-w-[200px] px-6;
}

.btn-accent{
  @apply bg-accent hover:bg-accent-hover
}

.btn-tertiary{
  @apply bg-tertiary hover:bg-tertiary-hover
}

.btn-white{
  @apply bg-white hover:bg-white/90 text-primary
}

html {
  scroll-behavior: smooth;
}
.vertical-timeline::before {
  background-color: #5810ff !important; /* mesma cor roxa */
}
.vertical-timeline-element-icon {
   border: 3px solid #5810ff !important; /* borda roxa */
   box-shadow: none !important; /* remove qualquer sombra */
}

